*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.containerCalculator{
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
   
}

.containerArticle{
    width: 90%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.containerArticle h1{
    color: #204466;
    letter-spacing: 2px;
}

.containerArticleImg{
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.containerFigure{
    width: 100%;
    height: 100%;
}
.containerFigure{
    width: 100%;
    height: 100%;
}

.containerFigure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.containerArticle p{
    text-align: center;

}

.containerButton{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}
.containerButton button{
    width: 50%;
    height: 30px;
    color: #fff;
    border-radius: 12px;
    border: none;
    background-color: #008000;
    outline: none;
    cursor: pointer;
}

/**/
.sectionCalculadora{
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #ffffff;

}

.articleCalculadora{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
}

.articleCalculadora h4{
    font-size: 30px;
    letter-spacing: 2px;
    color: #204466;
}

.articleFecha{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}

.divFechaInicial{
    width: 45%;
    height: auto;
    text-align: center;
    background-color: #206639;
     border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
}
.divFechaInicial label{
    font-size: small;
   
}

.divFechaFinal{
    width: 45%;
    background-color: #9e2b14;
     border-radius: 15px;
     text-align: center;
    color: #fff;
    letter-spacing: 1px;
     font-size: small;
}
input[type="date"]{
    width: 99%;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    outline: #204466;

}


.divFecha{
    width: 95%;
    height: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    
}

.divBotonesCalculadora{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    
}

.buttonCalcularFecha{
    width: 40%;
    height: 45px;
    background-color: #204466;
    border: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    
}

.buttonAgregarFecha{
    width: 40%;
    height: 45px;
    background-color:#206639;
    border: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
}

.divTextoCalculadora{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dadada;
    text-align: center;
}